<!-- {extend name="template/base" /} -->
{block name="content"}
<div class="page-container">
 <table class="table table-border table-bordered table-hover table-bg mt-20">
    <caption>我是不会溢出的表格</caption>
    <thead>
    <tr>
        <th width="100">第一列</th>
        <th width="200">第二列</th>
        <th width="200">第三列</th>
        <th width="300">第四列</th>
        <th width="200">第五列</th>
        <th width="300">第六列</th>
        <th width="200">第七列</th>
        <th width="200">第八列</th>
        <th width="300">第九列</th>
        <th width="200">第十列</th>
        <th width="100">第十一列</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="100">第一列内容</td>
        <td width="200">第二列内容</td>
        <td width="200">第三列内容</td>
        <td width="300">第四列内容</td>
        <td width="200">第五列内容</td>
        <td width="300">第六列内容</td>
        <td width="200">第七列内容</td>
        <td width="200">第八列内容</td>
        <td width="300">第九列内容</td>
        <td width="200">第十列内容</td>
        <td width="100">第十一列内容</td>
    </tr>
    <tr>
        <td width="100">第一列内容</td>
        <td width="200">第二列内容</td>
        <td width="200">第三列内容</td>
        <td width="300">第四列内容</td>
        <td width="200">第五列内容</td>
        <td width="300">第六列内容</td>
        <td width="200">第七列内容</td>
        <td width="200">第八列内容</td>
        <td width="300">第九列内容</td>
        <td width="200">第十列内容</td>
        <td width="100">第十一列内容</td>
    </tr>
    </tbody>
</table>
<div id="markdown" class="mt-20"></div>
</div>
{/block}
<script >
alert(123);
</script>
