<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>地图</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="http://www.sucaihuo.com/jquery/css/common.css" />
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
        <style type="text/css">
    .vad { margin: 120px 0 5px; font-family: Consolas,arial,宋体,sans-serif; text-align:center;}
    .vad a { display: inline-block; height: 36px; line-height: 36px; margin: 0 5px; padding: 0 50px; font-size: 14px; text-align:center; color:#eee; text-decoration: none; background-color: #222;}
    .vad a:hover { color: #fff; background-color: #000;}
    .thead { width: 728px; height: 90px; margin: 0 auto; border-bottom: 40px solid #fff;}
</style>
    </head>
    <body>
       
        <div class="container">
            <div class="demo">
            

                <div id="myChart" style="width:700px;height:560px"></div>
            </div>
        </div>
        <!-- <div class="foot">
            Powered by sucaihuo.com  本站皆为作者原创，转载请注明原文链接：<a href="http://www.sucaihuo.com" target="_blank">www.sucaihuo.com</a>
        </div> -->
        <script type="text/javascript" src="__STATIC__/china_map/js/echarts.min.js"></script>
        <script type="text/javascript" src="__STATIC__/china_map/js/china.js"></script>
        <script type="text/javascript">
                    option = {
                        title: {
                            text: '2015年GDP统计数据',
                            subtext: '数据来源网络（单位：万亿元）',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c}万亿元"
                        },
                        visualMap: {
                            min: 0,
                            max: 10,
                            left: 'left',
                            top: 'bottom',
                            orient: 'horizontal',
                            text: ['高', '低'], // 文本，默认为数值文本
                            calculable: true  //是否启用值域漫游，即是否有拖拽用的手柄，以及用手柄调整选中范围。
                        },
                        toolbox: {
                        //工具栏
                            show: true,
                            orient: 'vertical', //垂直
                            left: 'right',
                            top: 'center',
                            feature: {
                                mark: {show: true},
                                saveAsImage: {show: true} //保存为图片
                            }
                        },
                        series: [
                            {
                                name: '2015年GDP',
                                type: 'map',
                                mapType: 'china',
                                roam: false, //是否开启鼠标缩放和平移
                                itemStyle: {
                                    normal: {label: {show: true}},
                                    emphasis: {label: {show: true}}
                                },
                                data: []
                            }
                        ]
                    };
                    var myChart = echarts.init(document.getElementById('myChart'));

                    myChart.showLoading();
                    myChart.setOption(option);

        // 异步加载数据
                    $.ajax({
                        type: "post",
                        async: false, //同步执行
                        url: "{:url('map_data')}",
                        dataType: "json", //返回数据形式为json
                        data: {rnd: Math.random()},
                        success: function(result) {
                            console.log(result);
                            myChart.hideLoading();
                            myChart.setOption({
                                series: [{
                                        // 根据名字对应到相应的系列
                                        name: '2015年GDP',
                                        data: result
                                    }]
                            });
                        },
                        error: function(errorMsg) {
                            alert("请求数据失败!");
                        }
                    });
        </script>
    </body>
</html>



